/* Full container */
.login-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevent scrollbars */
}

/* Left side (75%) */
.login-left {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5), -5px -5px 8px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  background-color: #EEB1BC;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
  position: relative; /* to keep it above video */
  z-index: 5;
}

.logo {
  width: 80px;
  height: 80px;
  margin-bottom: 1.5rem;
}

.placeholder-text{
  font-family: 'Poppins', sans-serif;
}
.title {
  font-size: 2rem;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
  margin-bottom: 2rem;
}

/* Google Button */
.google-btn {
  width: 320px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.floaty {
  padding: 30px;
  width: 75%;
  height: 100vh;
}

.divider {
  color: #666;
  margin-bottom: 1rem;
}

/* Inputs */
.input-wrapper {
  width: 320px;
}

.input-field {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  
  margin-bottom: 1rem;
}

.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: red;
  font-size: 12px;
  margin-bottom: 1rem;
}

/* Submit Button */
.submit-btn {
  width: 320px;
  padding: 12px;
  border: none;
  border-radius: 50px;
  background: #fff; /* white background */
  font-family: 'Poppins', sans-serif;
  color: #000;      /* black text */
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submit-btn:hover {
  background: #000; /* black background on hover */
  color: #fff;      /* white text on hover */
}

/* Terms and Signup */
.terms {
  font-size: 12px;
  color: #666;
  margin-top: 1rem;
  
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.terms a {
  text-decoration: underline;
  color: #000;
}

.signup {
  margin-top: 0.5rem;
  font-size: 14px;
}

.signup a {
  color: #007bff;
  text-decoration: none;
}

/* Right side (25%) */
.login-right {
  border-radius: 20px;
  width: 25%;
  height: 100%;
  position: relative;
  z-index: 0;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
